{% extends 'base.html' %}

{% block head %}Testing{% endblock %}

{% block body %}
<div class="content" style="text-align: center;">
    <h1>Task Master</h1>
    {% if tasks|length < 1 %}
    <h4>There are no records. Add task from below form!</h4>
    {% else %}
    <table border="1">
        <tr>

            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %} 
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br/>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content" />
        <input type="submit" value="Add Task"/>
    </form>
</div>
{% endblock %}