{% extends 'base.html' %}

{% block head %}Testing{% endblock %}

{% block body %}
<div class="content">
<h1>Task Master</h1>

    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" value="{{task.content}}" id="content" />
        <input type="submit" value="Update Task"/>
    </form>
</div>
{% endblock %}